@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #AE9CFF;
}

.container {
    background-color: #FFF;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #AE9CFF;
    font-size: 16px;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #AE9CFF;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

.result {
    position: relative;
}

.result h3 {
    font-size: 30px;
    color: #1F194C;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #AE9CFF;
    font-size: 18px;
    cursor: pointer;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #B3B6D4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning, .word-example {
    color: #575A7B;
}

.word-example {
    font-style: italic;
    border-left: 5px solid #AE9CFF;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    text-align: center;
    margin-top: 80px;
}